In [5]:
import pandas as pd

In [6]:

df = pd.read_csv('../data/raw/job_postings.csv')

In [7]:
df.head()

,job_id,company_id,title,max_salary,min_salary,pay_period,formatted_work_type,location,applies,remote_allowed,views,formatted_experience_level,skills_desc,posting_domain,work_type
0,3757940104,553718.0,Hearing Care Provider,NaN,NaN,MONTHLY,Full-time,"Little River, SC",NaN,NaN,9.0,Entry level,NaN,careers-demant.icims.com,FULL_TIME
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",NaN,NaN,NaN,NaN,NaN,www.click2apply.net,FULL_TIME
2,3757938019,474443.0,"Manager, Engineering",NaN,NaN,NaN,Full-time,"Bessemer, AL",NaN,NaN,NaN,NaN,Bachelor's Degree in Mechanical Engineering pr...,www.click2apply.net,FULL_TIME
3,3757938018,18213359.0,Cook,NaN,NaN,HOURLY,Full-time,"Aliso Viejo, CA",NaN,NaN,1.0,Entry level,NaN,jobs.apploi.com,FULL_TIME
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),275834.0,205956.0,YEARLY,Full-time,United States,NaN,1.0,NaN,Mid-Senior level,NaN,careers.iherb.com,FULL_TIME

In [8]:
df.columns

df["job_id"]

0        3757940104
1        3757940025
2        3757938019
3        3757938018
4        3757937095
            ...
33241     133114754
33242     108965123
33243     102339515
33244      85008768
33245       3958427
Name: job_id, Length: 33246, dtype: int64

In [1]:
print